<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gerard Gallagher</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
</head>
<body>
    <div>
        <img src="{{ url_for('static', filename='images/hs.png') }}" alt="headshot">
    </div>
  <div class="topbar">
    <ul>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="work.html">Work Experience</a></li>
      <li><a href="education.html">Education</a></li>
      <li><a href="about.html">About Me</a></li>
    </ul>
  </div>
</body>
</html>
